@page
@model AboutModel
@{
    ViewData["Title"] = "Pesquisa- Perfil Profissional (Public)";
}
<h2>@ViewData["Title"]</h2>

<h3>@Model.Message</h3>

<iframe width="1140" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiNDZiYWYxZTMtNjQwOC00ODgyLWJjYzgtOWNiZTdmMTNhNmJjIiwidCI6ImU5NjRjNDdlLTliMDItNDQ0Yy04OTBjLTk1OTNjNzc1YWI4MiIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>