@page
@model ContactModel
@{
    ViewData["Secured"] = "Pesquisa- Perfil Profissional (Secured)";
}
<h2>@ViewData["Secured"]</h2>

<h3>@Model.Message</h3>

<iframe width="1140" height="541" src="https://app.powerbi.com/reportEmbed?reportId=19a2580d-1b3c-4430-a1fa-762b184838e1&groupId=388f7160-4c8c-4784-b846-960cbdc51b36&autoAuth=true&ctid=e964c47e-9b02-444c-890c-9593c775ab82" frameborder="0" allowFullScreen="true"></iframe>